<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Parabéns, <%= @receiver.email %></h1>
<p>
  Seu acesso foi liberado!
</p>
</body>
</html>
