<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Código de confirmação, <%= @user.email %></h1>
<p>
  Para logar no site, copie e cole este código: <%= @confirmation_code %>
</p>
</body>
</html>
